body {
    font-family: 'Lato', sans-serif;
}

.contenedor {
    width: 940px;
    margin: 0 auto;
}

/*Header - inicio de la pagina*/
.header {
    background-color: #000000;
    margin: 0;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu img {
    width: 75px;
}

.menu li {
    display: inline;
    margin: 1rem;
}

.menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}

.menu a:hover {
    transition: transform .2s;
    color: orange;
    transform: scale(1.1);
}

.menu li:hover a {
    font-size: 16px;
}

.menu a:active {
    color: rgb(255, 145, 0);
}

/*Presentacion inicio - titulo centrado*/
.presentacion {
    position: relative;
}

.banner {
    width: 100%;
    margin: 0;
}

.presentacion h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 65px;
    text-shadow: 5px 5px 5px #000000;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
}

/*Segmento de nosotros*/
.nosotros {
    color: #fafafa;
    background: #000000;
    padding: 50px;
}

.nosotros p {
    margin: 15px auto;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    text-align: justify;
    width: 940px;
}

.txt-titu {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 15px;
}


/*Segmento diferenciales*/

.diferencial {
    width: 940px;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
    background: #ffffff;
}

.items {
    font-style: italic;
    margin: 15px;
    text-align: left;
    list-style: square;

}

.diferencial ul {
    display: inline-block;
    vertical-align: top;

}

.diferencial-img {
    width: 50%;
    border-radius: 10px;

}


/*Contenido productos- Diviciones*/

.productos {
    padding: 50px;
    box-sizing: content-box;
}

.productos li {
    border: solid 3px rgb(0, 0, 0);
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    background: #fff;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.productos li:hover {
    border: solid 3px orange;
    transition: transform .5s;
    transform: scale(1.1);
}

.productos li:active {
    border: solid 3px rgb(250, 142, 0);
}

.productos h2 {
    font-size: 25px;
    font-weight: bold;
}

.productos img {
    width: 150px;
}

.descripcion {
    font-size: 15px;
}

.precio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

/*Pie de pagina*/

footer {
    text-align: center;
    color: #fff;
    background: url(/img/bg.jpg);
    padding: 15px;
    box-sizing: border-box;
    position: absolute;
    top: auto;
    width: 100%;
}

footer img {
    width: 75px;
}

.copy {
    font-size: 16px;
    margin: 15px;
}

.main-contactos {
    width: 940px;
    margin: 0 auto;
}

.formulario {
    margin: 40px 0;
}

.formulario h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.formulario label,
legend {
    display: block;
    margin: 5px 0;
    font-size: 20px;
    text-align: left;
}

.formulario .input-padron,
.formulario textarea {
    display: block;
    margin-bottom: 20px;
    width: 60%;
    padding: 10px 10px;
    box-sizing: border-box;
    font-size: 18px;
    resize: none;
}

.radio {
    margin-bottom: 25px;
}

.radio label {
    margin-top: 10px;
}

.selector {
    margin-bottom: 25px;
}

.selector legend {
    margin-bottom: 10px;
    font-size: 20px;
}

.selector select {
    width: 150px;
    height: 25px;
    font-size: 18px;
}

.btn-formulario {
    background: #ffa600;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 40%;
    height: 45px;
    box-sizing: border-box;
    transition: 1s all;
    cursor: pointer;
}

.btn-formulario:hover {
    background: rgb(255, 145, 0);
}

table {
    margin: 40px 40px;
}

thead {
    background: #555555;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

td,
thead {
    border: 1px solid black;
    padding: 8px 15px;
}

.localizacion {
    color: #fafafa;
    background: #000000;

    padding: 50px;
    text-align: center;
}

.local {
    background: #000000;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
}

.local p {
    margin: 15px;
}

.localizacion iframe {
    width: 100%;
}



@media screen and (max-width: 480px) {

    body {
        background: none;

    }

    .menu {
        display: block;
    }

    .menu li {
        margin: 10px;
    }

    .contenedor {
        width: 100%;
    }

    .main-contactos {
        width: auto;
    }

    .formulario {
        margin: 0;
        padding: 20px;
    }

    .formulario label,
    legend {
        margin: 10px 0;
    }

    .formulario .input-padron,
    .formulario textarea {
        display: block;
        margin-bottom: 20px;
        width: 100%;
        padding: 10px 10px;
        box-sizing: border-box;
        font-size: 18px;
        resize: none;
    }

    .btn-formulario {
        width: 100%;
    }

    .nosotros {
        padding: 50px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    .nosotros p {
        margin: 15px auto;
        line-height: 25px;
        text-align: justify;
        width: auto;
    }

    .presentacion {
        height: 400px;
    }

    .presentacion h1 {
        font-size: 28px;
    }

    .presentacion img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .diferencial {
        width: auto;
    }

    .diferencial-img {
        width: 100%;
        border-radius: 15px;
    }

    .productos li {
        display: block;
        width: 100%;
        margin: 0 0 20px 0;
    }

    .localizacion {
        color: #fafafa;
        background: #000000;

        padding: 50px;
        text-align: center;
    }

    .local {
        background: #000000;
        color: #ffffff;
        text-align: center;
        margin: 0 auto;
    }

    .local p {
        margin: 15px;
    }

    .localizacion iframe {
        width: 100%;
    }

    footer {
        width: 100%;
        position: relative;
    }
}

@media screen and (max-width: 820px) {
    .contenedor {
        width: 100%;
    }

    .menu {
        display: block;
        text-align: center;
        padding: 15px;
        box-sizing: border-box;
    }

    .productos li {
        border: solid 3px rgb(0, 0, 0);
        text-align: center;
        width: 30%;
        vertical-align: top;
        background: #fff;
        padding: 30px 20px;
        border-radius: 10px;
    }

    .nosotros p {
        width: auto;
    }

    .diferencial {
        width: auto;
    }

    .main-contactos {
        width: auto;
    }

    .formulario {
        padding: 20px;
    }


    .formulario .input-padron,
    .formulario textarea {
        margin-bottom: 20px;
        width: 100%;
        padding: 10px 10px;

    }
}